<div id="page">
    <img id="imgBackground" src='@Url.Content("~/img/p1.jpg")' usemap="#map" />

    <map name="map">
        <area id="areaStart" alt="¿ªÊ¼" shape="rect" coords="185,716,453,781" href='@Url.Action("Game", "Home")' />
    </map>
</div>

@section Scripts {
    <script type="text/javascript">
        var _ratio = 1.0;

        $(function () {
            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            scalingByRatio();
        });

        function scalingByRatio() {
            $("#imgBackground").css({
                "width": 640 * _ratio,
                "height": 830 * _ratio
            });
            
            var x1 = 185 * _ratio;
            var y1 = 716 * _ratio;
            var x2 = 453 * _ratio;
            var y2 = 781 * _ratio;
            $("#areaStart").attr("coords", x1 + "," + y1 + "," + x2 + "," + y2);
        }
    </script>
    <style>
        body
        {
            background-color: #f9c93d; 
        }
    </style>
}