<div id="page">
    <img id="imgBackground" src='@Url.Content("~/img/p4.jpg")' usemap="#map"/>

    <map name="map">
        <area id="areaSubmit" alt="提交资料" shape="rect" coords="85,720,302,778" href="javascript:submit()" />
        <area id="areaReturn" alt="返回游戏" shape="rect" coords="335,720,552,778" href='@Url.Action("Index", "Home")' />
    </map>
</div>

@section Scripts {
    <script type="text/javascript">
        var _ratio = 1.0;

        $(function () {
            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            scalingByRatio();
        });

        function scalingByRatio() {
            $("#imgBackground").css({
                "width": 640 * _ratio,
                "height": 830 * _ratio
            });

            var x1 = 85 * _ratio;
            var y1 = 720 * _ratio;
            var x2 = 302 * _ratio;
            var y2 = 778 * _ratio;
            $("#areaSubmit").attr("coords", x1 + "," + y1 + "," + x2 + "," + y2);

            x1 = 335 * _ratio;
            x2 = 552 * _ratio;
            $("#areaReturn").attr("coords", x1 + "," + y1 + "," + x2 + "," + y2);
        }

        function submit() {
            
        }
    </script>
}